 
body{
    font-family: 'Mulish', sans-serif;
    margin: 50px 80px;
}
header{
  height: 200px;
  
  
width: 100%;
 
}
.primary-color{
    color: #FF5400;
}
.logo-section{
    display: flex;
    
    font-size: 2.5rem;
    font-weight: 800;
   width: 50%;
}
 .logo{
    height: 56px;
    width: 48px;
    margin-right: 15px;
   display: flex;
    margin-top: 50px;
 }
.nav-container {
    display: flex;
    justify-content: space-between;
}

 .link-container{
display: flex;
align-items: center;
width: 50%;
justify-content: space-around;
max-width: 100%;
 
 }
 .link-container a{
    text-decoration: none;
    font-size: 18px;
    width: 700;
 }
  .mid-black-color{
    color: #424247;
  }